<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Join Request</title>
</head>

<body>
    <h1 style="text-align:center;">Your Requests To Join</h1>
    <div id="joinrequest">

    </div>
</body>
<script>
    async function displayJoinRequest() {
        try {
            const token = localStorage.getItem('token');
            const response = await axios.get(`http://localhost:7000/invite/get-joinrequests`, { headers: { 'Authorization': token } })
            const invites = response.data.invites;
            console.log(invites);
            const joinRequestDiv = document.getElementById('joinrequest');
            joinRequestDiv.innerHTML = '';

            for (let i = 0; i < invites.length; i++) {
                const ul = document.createElement('ul');
                const invitedBy = invites[i].invitorname;
                const groupName = invites[i].groupname;
                const id= invites[i].id
                const buttonAccept = document.createElement('button');
                buttonAccept.innerText = 'Accept';
                buttonAccept.addEventListener('click',() => {
                    accept(id);
                })

                const buttonDecline = document.createElement('button');
                buttonDecline.innerText = 'Decline';
                buttonDecline.addEventListener('click', () => {
                    decline(id);
                });
                ul.innerHTML = `<li>you were invited by  ${invitedBy}  to group ${groupName}</li>`
                ul.appendChild(buttonAccept);
                ul.appendChild(buttonDecline);
                joinRequestDiv.appendChild(ul);

            }
        } catch (err) {
            console.log(err);
        }
    }
    document.addEventListener('DOMContentLoaded', async () => {
        displayJoinRequest()
    });

    async function accept(id) {
        const token = localStorage.getItem('token');
        const response = await axios.get(`http://localhost:7000/invite/accept-invite/${id}`, { headers: { 'Authorization': token } })
        alert(response.data.message);
        displayJoinRequest()
    }

    async function decline(id) {
        const token = localStorage.getItem('token');
        const response = await axios.get(`http://localhost:7000/invite/decline-invite/${id}`, { headers: { 'Authorization': token } })
        alert(response.data.message);
        displayJoinRequest()

    }
</script>

</html>